@page
@model FreeApp.Pages.NewsCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "สร้างหัวข้อข่าวใหม่";
}

<h2>สร้างหัวข้อข่าวใหม่</h2>

<h4>กรอกข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ชื่อย่อของหมวดข่าว
                <input asp-for="NewsCategory.ShortName" class="form-control" />
                <span asp-validation-for="NewsCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อเต็ม/คำอธิบายหมวด
                <input asp-for="NewsCategory.FullName" class="form-control" />
                <span asp-validation-for="NewsCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
