@page
@model NewsReport.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h5>รายละเอียดแบบเจาะลึกในข่าว</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดหมู่ข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
            วันที่เกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            เนื้อหาข่าวฉบับเต็ม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ละติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            ลองจิจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
            สถานะกาายืนยัน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">แก้ไข</a> |
    <a asp-page="./Index">Back to List</a>
</div>
