@page
@model NutDrugs.Pages.TypeAdmin.CreateModel

@{
    ViewData["Title"] = "เพิ่มรายการ";
}

<h2>เพิ่มรายการ</h2>

<h4>ประเภทยา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ประเภท
                <input asp-for="TypeDrugs.DrugsType" class="form-control" />
                <span asp-validation-for="TypeDrugs.DrugsType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button style = "background-color:#fea4b0;color:#000000" type="submit" class="btn btn-default" />เพิ่มรายการ</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
