@page
@model NutDrugs.Pages.TypeAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบรายการ";
}

<h2>ลบรายการ</h2>

<h3 style = "background-color:#ba0900;color:#ffffff">!! รายการที่ลบไปแล้ว ไม่สามารถกู้คืนได้</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeDrugs.DrugsType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TypeDrugs.TypeDrugsID" />
        <button style = "background-color:#ba0900;color:#ffffff" type="submit" class="btn btn-default" />ลบรายการ</button> |
        <a asp-page="./Index">ลบรายการ</a>
    </form>
</div>
