@page
@model NutDrugs.Pages.TypeAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeDrugs.DrugsType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TypeDrugs.TypeDrugsID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนหลับ</a>
</div>
