@page
@model NutDrugs.Pages.TypeAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขชื่อประเภท";
}

<h2>แก้ไขชื่อประเภท</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeDrugs.TypeDrugsID" />
            <div class="form-group">
                <label asp-for="TypeDrugs.DrugsType" class="control-label"></label>
                <input asp-for="TypeDrugs.DrugsType" class="form-control" />
                <span asp-validation-for="TypeDrugs.DrugsType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button style = "background-color:#fea4b0;color:#000000" type="submit" class="btn btn-default" />บันทึก</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
