@page
@model NutDrugs.Pages.TypeAdmin.IndexModel

@{
    ViewData["Title"] = "ประเภทยา";
}

<h2>ประเภทยา</h2>

<p>
    <a asp-page="Create"><button style = "background-color:#bddae6;color:#000000" >เพิ่มรายการประเภทยา</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทยา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypeDrugs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugsType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TypeDrugsID"><button style = "background-color:#fea4b0;color:#000000" >แก้ไข</button></a> 
                <a asp-page="./Details" asp-route-id="@item.TypeDrugsID"><button style = "background-color:#fea4b0;color:#000000" >รายละเอียด</button></a> 
                <a asp-page="./Delete" asp-route-id="@item.TypeDrugsID"><button style = "background-color:#ba0900;color:#ffffff" >ลบรายการ</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
