@page
@model NewsReport.Pages.NewsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ";
}

<h2>ลบ</h2>

<h3>คุณแน่ใจหรือไม่ที่ต้องการลบรายการนี้</h3>
<div>
    <h4>หมวดข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อหมวดข่าวอย่างย่อ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
            ชื่อหมวดข่าวเต็ม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NewsCategory.NewsCategoryID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">กลับไปก่อนหน้า</a>
    </form>
</div>
