@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4>รายละเอียดหมวดข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อหมวดข่าวอย่างย่อ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
            ชื่อหมวดข่าวเต็ม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">แก้ไข</a> |
    <a asp-page="./Index">กลับไปก่อนหน้า</a>
</div>
