@page
@using Microsoft.AspNetCore.Identity
@using NutDrugs.Models

@model NutDrugs.Pages.DrugsAdmin.DeleteModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "ลบรายการ";
}

<h2>ลบรายการ</h2>

<h3 style = "background-color:#ba0900;color:#ffffff" >!! รายการที่ลบไปจะไม่สามารถกู้คืนได้อีก</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            เพิ่มรายการโดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.UserAdmin.FirstName)
        </dd>
        <dt>
            ประเภทยา:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.TypeDrugs.DrugsType)
        </dd>
        <dt>
            ชื่อยา:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.DrugsName)
        </dd>
        <dt>
            ราคา:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.price)
        </dd>
        <dt>
            จำนวน:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.DrugsNumber)
        </dd>
        <dt>
            หน่วย:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.unit)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Drugs.DrugsID" />
        <button style = "background-color:#ba0900;color:#ffffff" type="submit" class="btn btn-default" />ลบรายการ</button> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
