@page
@using Microsoft.AspNetCore.Identity
@using NutDrugs.Models

@model NutDrugs.Pages.DrugsAdmin.DetailsModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4>Drugs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            เพิ่มรายการโดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.UserAdmin.FirstName)
        </dd>
        <dt>
            ประเภทยา:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.TypeDrugs.DrugsType)
        </dd>
        <dt>
            ชื่อยา:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.DrugsName)
        </dd>
        <dt>
            ราคา:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.price)
        </dd>
        <dt>
            จำนวน:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.DrugsNumber)
        </dd>
        <dt>
            หน่วย:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drugs.unit)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Drugs.DrugsID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
