@page
@using Microsoft.AspNetCore.Identity
@using NutDrugs.Models

@model NutDrugs.Pages.DrugsAdmin.EditModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "แก้ไข";
}

<h2>แก้ไข</h2>

<h4>รายการยา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Drugs.DrugsID" />
            <div class="form-group">
                ประเภทยา
                <select asp-for="Drugs.TypeDrugsID" class ="form-control" asp-items="ViewBag.TypeDrugsID"></select>
            </div>
            <div class="form-group">
                ชื่อยา
                <input asp-for="Drugs.DrugsName" class="form-control" />
                <span asp-validation-for="Drugs.DrugsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ราคา
                <input asp-for="Drugs.price" class="form-control" />
                <span asp-validation-for="Drugs.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวน
                <input asp-for="Drugs.DrugsNumber" class="form-control" />
                <span asp-validation-for="Drugs.DrugsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                หน่วย
                <input asp-for="Drugs.unit" class="form-control" />
                <span asp-validation-for="Drugs.unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                แก้ไขโดย :@UserManager.GetUserAsync(User);
                <input asp-for="Drugs.UserId" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <button style = "background-color:#fea4b0;color:#000000" type="submit"class="btn btn-default" />บันทึก</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
