@page
@model NutDrugs.Pages.DrugsAdmin.IndexModel

@{
    ViewData["Title"] = "รายการยา";
}

<h2>รายการยา</h2>

<p>
    <a asp-page="Create"><button style = "background-color:#bddae6;color:#000000" >เพิ่มรายการยา</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ผู้เพิ่ม/แก้ไข รายการ
            </th>
            <th>
                ประเภทยา
            </th>
            <th>
                ชื่อยา
            </th>
            <th>
                ราคา
            </th>
            <th>
                จำนวน
            </th>
            <th>
                หน่วย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drugs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserAdmin.FirstName)  @Html.DisplayFor(modelItem => item.UserAdmin.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDrugs.DrugsType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DrugsID"><button style = "background-color:#fea4b0;color:#000000" >แก้ไข</button></a> 
                <a asp-page="./Details" asp-route-id="@item.DrugsID"><button style = "background-color:#fea4b0;color:#000000" >รายละเอียด</button></a> 
                <a asp-page="./Delete" asp-route-id="@item.DrugsID"><button style = "background-color:#ba0900;color:#ffffff" >ลบรายการ</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
