﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class = "jumbotron" style = "background-color:#fdafab;">
    <center><h1>ร้านขายยา Nut Drugs</h1></center>
</div>

<div class = "row">
    <div class = "col-md-8">
        <br><br>
        <h4> วันที่: @DateTime.Now</h4>
        <h4> เจ้าของร้าน: @Model.Owner</h4>
    </div>
    <div class = "col-md-4">
        <img src="~/images/Admin.png" width = "160px" height = "160px" asp-append-version="true">
    </div>
</div>

<hr>
@foreach (var type in Model.TypeDrugs){
    <div class = "row">
        <table><h2 style = "">กลุ่มยา @Html.DisplayFor(modelItem => type.DrugsType)</h2>
    </div>
    @foreach (var drugs in Model.Drugs){
        if (@drugs.TypeDrugsID == type.TypeDrugsID){
            <div class = "row">
                <table><h3>@drugs.DrugsName</h3> 
                <b>ราคา</b>      ->      @Html.DisplayFor(modelItem => drugs.price)  บาท<br>
                <b>ยอดคงเหลือ</b>         ->      @Html.DisplayFor(modelItem => drugs.DrugsNumber)  @Html.DisplayFor(modelItem => drugs.unit)  
            </div><hr>
            
        }
    }
}



