@page
@model NewsReport.Pages.NewsAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ";
}

<h2>ลบ</h2>

<h3>คุณแน่ใจหรือไม่ที่ต้องการลบรายการนี้</h3>
<div>
    <h4>ข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รายการข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
            โพสต์โดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.PostUser.FirstName)  @Html.DisplayFor(model => model.News.PostUser.LastName)
        </dd>
        <dt>
            วันที่เกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            รายละเอียดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ละติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            ลองจิจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
            สถานะข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">หลับไปก่อนหน้า</a>
    </form>
</div>
