@page
@model NewsReport.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4>รายละเอียดรายดารข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รายการข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
            โพสต์โดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.PostUser.FirstName)  @Html.DisplayFor(model => model.News.PostUser.LastName)
        </dd>
        <dt>
            วันที่เกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            รายละเอียดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ละติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            ลองจิจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
            สถานะข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">แก้ไข</a> |
    <a asp-page="./Index">กลับไปก่อนหน้า</a>
</div>
