@page
@model NewsReport.Pages.NewsAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไข";
}

<h2>แกไข้</h2>

<h4>กรอกข้อมูลใหม่</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
            <div class="form-group">
                เลือดหมวดข่าว
                <select asp-for="News.NewsCategoryID" class="form-control" asp-items="ViewBag.NewsCategoryID"></select>
                <span asp-validation-for="News.NewsCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสต์โดย
                <select asp-for="News.NewsUserId" class="form-control" asp-items="ViewBag.NewsUserId"></select>
                <span asp-validation-for="News.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่เกิดเหตุ
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียด<br>
                <textarea asp-for="News.NewsDetail" class="formcontrol" rows=5 cols=50 ></textarea>
                <span asp-validation-for="News.NewsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                ละติจูดจุดเกิดเหตุ
                <input asp-for="News.GpsLat" class="form-control" />
                <span asp-validation-for="News.GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                ลองจิจูดจุดเกิดเหตุ                <input asp-for="News.GpsLng" class="form-control" />
                <span asp-validation-for="News.GpsLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานะข่าว
                <select asp-for="News.NewsStatus" class="form-control" >
                    <option value="Unverified">Unverified</option>
                    <option value="Verified as Real">Verified as Real</option>
                    <option value="Verified as Fake">Verified as Fake</option>
                </select>
                <span asp-validation-for="News.NewsStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับไปก่อนหน้า</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
