@page
@model NewsReport.Pages.NewsAdmin.IndexModel

@{
    ViewData["Title"] = "โพสต์ข่าวใหม่";
}

<h2>โพสต์ข่าวใหม่</h2>

<p>
    <a asp-page="Create">สร้างรายการข่าวใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                หมวดหมู่
            </th>
            <th>
                โพสต์โดย
            </th>
            <th>
                วันที่เกิดเหตุ
            </th>
            <th>
                รายละเอียด
            </th>
            <th>
                ละติจูดจุดเกิดเหตุ
            </th>
            <th>
                ลองจิจูดจุดเกิดเหตุ
            </th>
            <th>
                สถานะข่าว
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostUser.FirstName)  @Html.DisplayFor(modelItem => item.PostUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
